

<h1 class = ".h1_create_new_bake"> Nice one you've logged a new bake!</h1>
<h2 class = ".h2_create_new_bake"> Your bake id is  <%= @bake.id %></h2>


<a href="/bake"
<button class = "button_kac" type ="button"> click to view all bakes </button> </a>

<a href="/index"
<button class = "button_kac" type ="button"> click to return home </button> </a>
