<!DOCTYPE html>
<html>
<head>
  <title >Sourdough Bake Record</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <main>
  <%= yield %>
  </main>
</body>
</html>
