<div class="column middle">
    <h2>Sourdough Bake Record</h2>

    <p class = "h3_notes_page">
      Hello & welcome to the CodeClan Sourdough Bake Record App!</p>

    <p class = "h3_notes_page">
      We all enjoy a sourdough loaf, much joy is taken from making & sharing your own bake but once you make your best loaf or one that could be improved then how do you remember what you did at each stage ?</p>

  <p class = "h3_notes_page">
      Here you will be able to log the date & time you started each step of your bake, add any notes of thoughts you may have as you bake. </p>

  <p class = "h3_notes_page">
      Once stored, you can return & edit any step that may not have gone according to plan.</p>

    <p class = "h3_notes_page"> To begin, simply click on new bake then follow the instructions. </p>

    <p class = "h3_notes_page"> Enjoy the app and happy baking! KC..</p>
  </div>
