<h1 style="text-align:center" > Sourdough Bake Record</h1>

<p><a href="/bake/<%= bake.id%>">Show this bake </a></p>
<form action="/bake/delete/<%=bake.id%>" method="post">
  <input type="Submit" value="Delete this bake">
</form>
<p><a href="/bake/edit/<%=bake.id%>">Edit this bake </a></p>

<hr/>
<% end %>
