<!DOCTYPE html>
<html>
<head>
  <title >Sourdough Bake Record</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <div class="header">
  <h1>Sourdough Bake</h1>
</div>

<div class="topnav">
  <a href="/index">Home</a>
  <a href="/bake/new">New Bake</a>
  <a href="/bake">Previous Bakes</a>
  <a href="/notes"> Notes </a>
</div>
  <main>
  <%= yield %>
  </main>
</body>
</html>
