<!DOCTYPE html>
<html>
<head>
  <style>
    body { background-image: url("/images/background.jpg");}
    button {border-color: #878f99;
            background-color: gray;
            border-radius: 25px;
            text-align: center;
            margin-right: 50px;
            padding: 5px;
            font-size:100px;
            border: 3px solid #878f99;
            cursor:pointer;}
  </style>
  <title >Sourdough Bake Record</title>
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <ul>
      <a href="/bake/new">Record a new bake</a>
      <a href="/bake"> List of all bakes</a>
    </ul>
</head>
<body>
  <main>
    <button href="/bake/new";
            id = "New_bake_button";
            type="button";
            > New Bake </button>

    <button href="/bake/";
            id = "Listof_old_bakes_button";
            type="button";
            > List of old bakes </button>
  <%= yield %>
  </main>
</body>
</html>
