<form action="/bake" method="post">
  <label for="bake_date">Input the date of your bake:</label>
  <input type="date" min="2020-06-01" max="2020-12-31" value="2020-06-01"/>

  <label for="starter_time">When did you refresh your starter ?:</label>
  <input type="time" id="starter_time" name="starter_time">

  <label for="leaven_time">When did you start the leaven ?:</label>
  <input type="time" id="leaven_time" name="leaven_time">

  <label for="autolyse_time">When did you start the Autolyse ?:</label>
  <input type="time" id="autolyse_time" name="autolyse_time">

  <label for="bulk_time ">When did you start to bulk fold ?:</label>
  <input type="time" id="bulk_time" name="bulk_time">

  <label for="shape_time">When did you start to shape?:</label>
  <input type="time" id="shape_time" name="shape_time">

  <label for="shape_time">When did you start the prove?:</label>
  <input type="time" id="prove_time" name="prove_time">

  <label for="bake_time">When did you put loaf in the oven ?:</label>
  <input type="time" id="bake_time" name="bake_time">

  <label for="cool_time">When did you take loaf from the over?:</label>
  <input type="time" id="cool_time" name="cool_time">

  <label for="note_tag">Please add a note:</label>
  <input type="text" id="note_tag" name="note_tag">

  <input type="submit" value="Add Bake">
</form>
,
