<p>Well done! You've created a new note!</p>

<!--  Add in a link back to the bake show  -->

<a href="/bakes/<%=bake.id%>">
<button class = "button button_new_bake"
        type="button"
        > Click to return to bake </button> </a>
