<h1 class = ".h1_create_new_bake"> Note <%=@note.id%> has been deleted </h1>

<a href="/notes"
<button class = "button_kac" type ="button"> all notes </button> </a>

<a href="/index"
<button class = "button_kac" type ="button"> return home </button> </a>
