<!DOCTYPE html>
<html>
<head>
  <title >Sourdough Bake Record Note page</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <main>

    <!-- <a href="/notes/new" >
    <button class = "button button_new_bake"
            type="button"
            > New Note </button> </a> -->
    <!-- <a href="/"
    <button class = "button button_new_bake"
            type ="button"
            > Home Page </button> </a>
    <a href="/bake/new" >
    <button class = "button button_new_bake"
            type="button"
            > New Bake </button> </a>
    <a href="/notes"
    <button class = "button button_old_bakes"
            id="button"
            > Previous bakes</button> </a> -->
  <%= yield %>
  </main>
</body>
</html>
