
<h1 class = ".h1_create_new_bake"> Index of all notes</h1>

<h2 class = ".h2_create_new_bake">

Below is a list of all your notes & their respective bakes </h2>

<hr/>

<p class = "h3_notes_page"> Note id: <%=note.id%> </p>
<p class = "h3_notes_page"> Note: <%=note.note_tag%> </p>
<p class = "h3_notes_page"> Note's bake id: <%=note.bake_id%> </p>

<a href="/index"
<button class = "button_kac" type ="button"> return home </button> </a>
